<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%-include('./partials/head')  %>
</head>

<body>
	<!-- Header -->
	<%-include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<div>
				<h2>
					<% if (locals.errors){ %>
						<p><%= locals.errors.message %> </p>
					<% } %>
				</h2>
			</div>
			<h2 class="col-12"> 
				<form action="/Users/register"method="POST"> 
					<label for="nameUsuario">Nombre de usuario:</label>
					<input type="text" id="nameUsuario" name="nameUsuario" required>
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required>
					<label for="usuario">Usuario:</label>
					<input type="text" id="usuario" name="usuario" required>
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required>
					<label for="fecha_nacimiento ">Fecha de nacimiento:</label>
					<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
					<label for="dni">DNI:</label>
					<input type="number" id="dni" name="dni" required>
					<label for="img_perfil">Foto de perfil:</label>
					<input type="file" id="img_perfil" name="img_perfil">
					
					<button type="submit">Registrarse</button>



				</form>

			</h2>


	<!-- footer -->
	<%-include('./partials/footer')  %>
	<!-- /footer -->
</body>

</html>